*.xlsx
*.xlsm
*.xlam
*test*
*TEST*
*Test*
*backup*
*.xlsx
*.xlsm
AddInsforGithub/*
_image_caption_config.py
WebsiteCreator/Experimentation/*
WebsiteCreator/__pycache__/*
WebsiteCreator/.ipynb_checkpoints/*
.vscode/*
*/Temp/*
*/temp/*
