*.xlsx
*.xlsm
*.xlam
*.pdf
*.jpeg
*.JPEG
*.jpg
*.JPG
*test*
*TEST*
*Test*
*backup*
*.xlsx
*.xlsm
AddInsforGithub/*
_image_caption_config.py
Experimentation/*
__pycache__/*
.ipynb_checkpoints/*