*test*
*TEST*
*Test*
*TEST/*
*Test/*
*backup*
AddInsforGithub/*
_image_caption_config.py
WebsiteCreator/Experimentation/*
WebsiteCreator/__pycache__/*
WebsiteCreator/.ipynb_checkpoints/*
.vscode/*
*/Temp/*
*/temp/*
*/Backups/*
*/backups/*

# publc not required in repo as this is created for local builds when running hugo server
# when deploying to github via a push the the repo trigggers the build so no need to push the 
# public folder as well.
public
